.hotels{
  max-width: 800px;
  margin: 0 auto;
}
.hotels-results{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.hotel{
  border-radius: 1rem;
  background: #fff;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 5px;
  border: solid 1px #d0d0d0;
}
.hotel h2{
  margin-top: 0;
  font-size: 1rem;
}
.hotel-image{
  height: 180px;
  background-size: cover;
  background-position: center center;
}
.hotel-details{
  padding: 1rem;
}
.hotel-details-price{
  display: flex;
  align-items: center;
  border-bottom: solid 1px #d0d0d0;
}
.hotel-details-price > * {
  flex: 1;
}
.hotel-rating{
  display: flex;
  align-items: center;
}
.hotel-rating img{
  margin-top: 5px;
}
.hotel-reviews{
  font-size: .8rem;
}
.hotel-distance{
  font-size: 0.9rem;
  opacity: 0.8;
}
.hotel-title{
  border-bottom: solid 1px #d0d0d0;
}
.hotel-stay{
}
.hotel-price-room{
  font-size: 0.8rem;
  opacity: 0.8;
}
.hotel-price{
  text-align: right;
}
.hotel-price-per{
  font-size: 0.8rem;
  opacity: 0.8;
}
.hotel-details-buttons{
  display: flex;
  align-items: center;
}
.hotel-details-buttons > * {
  flex: 1;
}
.hotel-buttons-to-skyscanner{
  font-size: 0.8rem;
  opacity: 0.8;
  text-align: right;
}
.hotel-buttons-button{
 
}

@media only screen and (max-width: 600px) {
  .hotels-results{
    grid-template-columns: repeat(1, 1fr);
  }
}