.flight {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}
.flight-search {
  border-radius: 1rem;
  padding: 1rem;
}
.flight-search-controls {
  display: flex;
}
.flight-search-controls > * {
  flex: 1;
}
.flight-layout {
  display: flex;
  flex-direction: row;
}
.flight-layout > div {
  flex: 1;
}
.flight-price {
  display: flex;
  flex-direction: row;
}
.flight-layout > * {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .flight-layout {
    display: block;
  }
  .flight-search-controls {
    display: block;
  }
}